html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.headingXl {
  margin-bottom: 5px;
}

.headingLg {
  font-size: 2.5rem;
  letter-spacing: 0.3px;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  margin: 0;
  letter-spacing: 0.2px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 0.5px solid #959595;
  padding: 0.35em;
}

.listItem:hover {
  text-decoration: underline;
}

.padding1px {
  padding-top: 1px;
}

.paddingLe .listItem {
  margin: 0 0 1.25rem;
}

.Date {
  color: #4e7fc5;
}

.PostDate {
  display: block;
  color: #959595;
}

.postText {
  white-space: normal;
  word-wrap: break-word;
  letter-spacing: 0.1px;
}

code {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 8px;
  overflow-x: scroll;
  padding: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .Date {
    display: none;
  }

  .PostDate {
    display: block;
    color: #959595;
  }
}
